.summary-container {
  text-align: center;
}

.overall-score-container {
  margin-bottom: 40px;
}

.score-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.score-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.score-label {
  font-weight: bold;
  margin-right: 10px;
}

.score-value {
  font-weight: bold;
}

.chart-container {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.category-scores-container {
  margin-bottom: 40px;
}

.category-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.restart-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #45a049;
}

/* Styling for the donut chart */
.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.doughnut-legend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.doughnut-legend-item {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.doughnut-legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.doughnut-legend-label {
  display: inline-block;
  vertical-align: middle;
}
